@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
body{
  padding: 0px;
  margin: 0;
  --Nav-bckground:#fff;
  --page-bckground:	#e4e4e4;
  --text-color:#111111;
  --description-color:#6a6767;
  transition: 300ms ease-in-out;
}
.dark-mode{
  padding: 0px;
  margin: 0;
  --Nav-bckground:	#171917;
  --page-bckground:	#050505;
  --text-color:#fff;
  transition: 300ms ease-in-out;
}
.theme-orange{
  --theme:#EB8341;
  --color1-border:#6a6767;
  --color2-border:transparent;
  --color3-border:transparent;
  --color4-border:transparent;
  --color5-border:transparent;
}
.theme-blue{
  --theme:#427CFF;
  --color2-border:#6a6767;
  --color1-border:transparent;
  --color3-border:transparent;
  --color4-border:transparent;
  --color5-border:transparent;
}
.theme-pink{
  --theme:#B22BE1;
  --color3-border:#6a6767;
  --color2-border:transparent;
  --color1-border:transparent;
  --color4-border:transparent;
  --color5-border:transparent;
}
.theme-red{
  --theme:#D53333;
  --color4-border:#6a6767;
  --color2-border:transparent;
  --color3-border:transparent;
  --color1-border:transparent;
  --color5-border:transparent;
}
.theme-green{
  --theme:#5FB364;
  --color5-border:#6a6767;
  --color2-border:transparent;
  --color3-border:transparent;
  --color4-border:transparent;
  --color1-border:transparent;
}